<!DOCTYPE html>
<html>
<head>
<title>LTB Manager</title>
<link rel="stylesheet" type="text/css" href="{{ pfx }}/static/main.css">
</head>
<body>
{% include "navbar.j2" %}
{% block content %}{% endblock %}
</body>
</html>
