<div class="navbar">
<p>
    <a href="{{ pfx }}/" class="navbuttom">start</a>
    <a href="{{ pfx }}/ltbs/all" class="navbuttom">alle LTBs</a>
    <a href="{{ pfx }}/ltbs/Hannover" class="navbuttom">Hannover</a>
    <a href="{{ pfx }}/ltbs/Marburg" class="navbuttom">Marburg</a>
    <a href="{{ pfx }}/ltbs/Harz" class="navbuttom">Harz</a>
</p>
</div>
