<div class="navbar">
<p>
    <a href="{{ pfx }}/" class="navbutton">start</a>
    <a href="{{ pfx }}/ltbs/all" class="navbutton">alle LTBs</a>
    {% for l in locs %}
        <a href="{{ pfx }}/ltbs/{{ l }}" class="navbutton">{{ l }}</a>
    {% endfor %}
    <a href="{{ pfx }}/ltbs/lost" class="navbutton">Verschollen</a>
    <a href="{{ pfx }}/moveltb/form" class="navbutton">LTBs umbuchen</a>
    <a href="{{ pfx }}/addltb/form" class="navbutton">LTB einbuchen</a>
</p>
</div>
