<div class="navbar">
<p>
    <a href="{{ pfx }}/" class="navbuttom">start</a>
    <a href="{{ pfx }}/ltbs/all" class="navbuttom">alle LTBs</a>
    {% for l in locs %}
        <a href="{{ pfx }}/ltbs/{{ l }}" class="navbuttom">{{ l }}</a>
    {% endfor %}
    <a href="{{ pfx }}/ltbs/lost" class="navbuttom">Verschollen</a>
    <a href="{{ pfx }}/moveltb/form" class="navbuttom">LTBs umbuchen</a>
</p>
</div>
